* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #F2F2F2;
}

label {
  display: inline-block;
}

input {
    border-radius: 2px;
}
.glavni { 
    overflow: hidden;
    margin: 20px 20px 0 20px;
}
.row {
    width: 100%;
    overflow: hidden;
}


.visina {
    height: 30px;
}

form {
    overflow: hidden;
}
.gore {
    float: left;
}
.dugme {
    float: right;
    height: 30px;
    background-color:green;
}


    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }

    @media only screen and (max-width: 600px) {
        [class*="col-"] {
            width: 100%;
        }
    label, input, select, textarea {
        margin: 5px 0px;
    }
    .col-m-2 {
        width: 50%;
    }
    }
   