* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #421665;
}
header {
    text-align: center;
    margin: auto;
    margin-top: 40px;
    background-color: #702DA1;
    width: 50%;
    height: 130px;
}
h1 {
    padding-top: 10px;
    color: white;
}
h3 {
    padding-top: 15px;
    color: white;
}
#buttons {
    text-align: center;
}
.button {
    width: 120px;
    height: 30px;
    font-size: 15px;
    background-color: #702DA1;
    margin-top: 10px;
    border: 2px solid #ffffff;
    border-radius: 15px;
    color: #ffffff;
    margin: 10px 5px 0 5px;
}

.button:hover {
    color: #421665;
    background-color: #ffffff;
    cursor: pointer;
    border: 2px solid #421665;
}
#sectionIspis {
    width: 50%;
    height: 70vh;
    padding:10px;
    margin: auto;
    background-color: #F6F6F6;
    overflow-y: scroll;
}
#sectionForm {
    background-color: #F6F6F6;
    width: 50%;
    margin: auto;
    padding: 10px;
}
#inputMsg, #inputUser {
    height: 30px;
}
#inputMsg {
    height: 50px;
    width: 300px;
}
#inputMsg::placeholder {
    padding-left: 30px;
  }


form {
    text-align: center;
    /* margin: 10px; */
}
ul {
    text-align: center;
}