img {
    width: 200px;
}
#table1 {
    width: 1000px;
}
#slike td {
    float: left;
}
#table2 {
    width: 800px;
}

.img2 {
    width: 100px;
}
aside {
    clear: both;
}
.float {
    float: left;
    width: 33%;
    text-align: center;
}
#glavni {
    width: 60%;
}
section {
    margin-top: 200px;
}
#centarp {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}