h1 {
    color:#800000;
}

h3 {
    color: red;
}

p {
    color:purple;
}

img {
    width: 400px;
    height: 300px;
    border: dashed 2px;
}

a {
    color:orange;
}
body {
    background-color: #a86109;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.naslov2 {
    text-align: center;
}

.paragraf {
    text-align: right;
    font-size: 24px;
}

#naslov3 {
    text-align: center;
    color: green;
    font-family: "Comic Sans MS", "Comic Sans", cursive;                
}

a:visited {
    color: green;
}
a:hover {
    color: yellow;
}
a:active
{
    color: green;
}