/* Imamo rupu */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row {
    width: 100%;
}
header {
    background-color: #FF8C00;
    text-align: center;
    padding: 10px;
}
ul {
    list-style-type: none;
    overflow: hidden;
}
ul li {
    background-color: #FF8C00;
    padding: 15px;
}
ul li:hover {
    background-color: yellow;
    border: 2px solid black;
    font-weight: bold;
}
section {
    background-color: #FF8C00;
    text-align: center;
    padding: 10px;
}

.slike {
    padding: 40px;
}
.slike img:hover {
   opacity: 0.5;
}

form {
    padding-top: 20px;
    padding-bottom: 60px;
}
form .row {
    padding: 10px;
}
footer {
    background-color: #FF8C00;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
}

.row::before,
.row::after{
    content: "";
    clear: both;
    display: table;
}
[class*="col-"]{
    float: left;
}

/* Za tablete */
@media only screen and (min-width: 650px) and (max-width: 750px){
    p {
    color: green;
    }
    h1:hover {
        color: green;
    }
    .col-t-1{
        width: 8.33%;
    }
    .col-t-2{
        width: 16.66%;
    }
    .col-t-3{
        width: 25%;
    }
    .col-t-4{
        width: 33.33%;
    }
    .col-t-5{
        width: 41.66%;
    }
    .col-t-6{
        width: 50%;
    }
    .col-t-7{
        width: 58.33%;
    }
    .col-t-8{
        width: 66.66%;
    }
    .col-t-9{
        width: 75%;
    }
    .col-t-10{
        width: 88.33%;
    }
    .col-t-11{
        width: 91.66%;
    }
    .col-t-12{
        width: 100%;
    }
}

/* Za desktop */

@media only screen and (min-width: 750px){
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 88.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }

}

/* Za mobilne telefone */
@media only screen and (max-width: 600px){
    [class*="col-"]{
        width: 100%;
    }
    form {
        visibility: hidden;
    }
    p {
        color: orange;
        }
        h1:hover {
            color: orange;
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 650px){
        .col-1{
            width: 8.33%;
        }
        .col-2{
            width: 16.66%;
        }
        .col-3{
            width: 25%;
        }
        .col-4{
            width: 33.33%;
        }
        .col-5{
            width: 41.66%;
        }
        .col-6{
            width: 50%;
        }
        .col-7{
            width: 58.33%;
        }
        .col-8{
            width: 66.66%;
        }
        .col-9{
            width: 75%;
        }
        .col-10{
            width: 88.33%;
        }
        .col-11{
            width: 91.66%;
        }
        .col-12{
            width: 100%;
        }
    
    }